.sp {
  display: none !important;
}

strong {
  font-size: 28px;
  line-height: 1;
}

.viseo-wrapper {
  padding: 0;
}

.fv-area {
  text-align: right;
  margin-bottom: 140px;
  position: relative;

  & img {
    width: 80%;
  }

  & p {
    position: absolute;
    font-family: 'Roc Grotesk';
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    line-height: 2;
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    text-align: center;
    white-space: nowrap;
    transform-origin: left;
  }
}

.viseo-title {
  & .eng-title {
    font-family: 'Roc Grotesk';
    font-size: 150px;
    font-weight: bold;
    color: rgba($color: #009CB1, $alpha: 0);
    -webkit-text-stroke: 1px #009CB1;
    margin-left: 110px;
    height: 150px;

    & div {
      display: flex;
      overflow: hidden;

      & span {
        animation: .7s updown-anim linear forwards;
        transform: translateY(150%);
        display: block;

        &:nth-child(1) {
          animation-delay: 0.03s;
        }

        &:nth-child(2) {
          animation-delay: 0.06s;
        }

        &:nth-child(3) {
          animation-delay: 0.09s;
        }

        &:nth-child(4) {
          animation-delay: 0.12s;
        }

        &:nth-child(5) {
          animation-delay: 0.15s;
        }

        &:nth-child(6) {
          animation-delay: 0.18s;
        }

        &:nth-child(7) {
          animation-delay: 0.21s;
        }

        &:nth-child(8) {
          animation-delay: 0.24s;
        }

        &:nth-child(9) {
          animation-delay: 0.27s;
        }

        &:nth-child(10) {
          animation-delay: 0.3s;
        }

        &:nth-child(11) {
          animation-delay: 0.33s;
        }

        &:nth-child(12) {
          animation-delay: 0.36s;
        }
      }
    }
  }

  & .jp-title {
    opacity: 0;

    & div h1 {
      font-family: 'Roc Grotesk';
      font-size: 80px;
      font-weight: bold;
      color: rgba($color: #009CB1, $alpha: 1.0);
      margin-left: 65px;
    }
  }
}

#sec02 .viseo-title .eng-title div {
  justify-content: flex-end;
}

.sub-title {
  margin-top: 55px;
  margin-left: 105px;
  margin-bottom: 85px;
  opacity: 0;

  & div h3 {
    font-family: 'Roc Grotesk';
    font-size: 40px;
    font-weight: bold;
    color: #272727;
    line-height: 1.5;

    & strong {
      font-size: 40px;
    }
  }
}

.right-title {
  text-align: right;
}

.desc-text {
  opacity: 0;

  & div p {
    font-family: 'Roc Grotesk';
    font-size: 30px;
    line-height: 2;
    margin-left: 105px;
    margin-bottom: 75px;
  }
}

.card-area {
  position: relative !important;
  display: flex;
  justify-content: space-around;
  width: 80%;
  max-width: 1080px;
  margin: 0 auto 200px;

  & .view-wrap {
    width: 100%;

    & .card-item {
      opacity: 0;
      width: 30%;
      max-width: 345px;
      margin: 0 auto;

      &:nth-of-type(1) {
        position: absolute;
        left: 0;
        top: 50px;
        transform: translateY(50px);
      }

      &:nth-of-type(2) {
        animation-delay: 0.2s;
      }

      &:nth-of-type(3) {
        position: absolute;
        right: 0;
        top: 50px;
        animation-delay: 0.4s;
      }
    }

    & .card-top {
      background: #FAF6F0;
      text-align: center;
      border: 1px solid #4A3755;
      border-bottom: none;
      border-radius: 20px 20px 0 0;
      background-repeat: no-repeat;

      & img {
        margin-top: 65px;
        margin-bottom: 30px;
        width: 35%;
      }
    }

    & .card-bottom {
      padding-top: 65px;
      padding-bottom: 70px;
      text-align: center;
      background: #A6DEEB;
      border: 1px solid #4A3755;
      border-top: none;
      border-radius: 0 0 20px 20px;

      & p {
        font-family: 'Roc Grotesk';
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

.fadeup {
  animation-name: fadeup-anim;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fadeupJp {
  animation-name: fadeup-Jp;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.world-work {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;

  & .map {
    animation-name: fadeleft-anim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    width: 50%;

    & img {
      width: 100%;
    }
  }

  & .work-text {
    animation-name: faderight-anim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    width: 50%;

    & p {
      font-family: 'Roc Grotesk';
      font-size: 30px;
      line-height: 3;
    }

    & strong {
      font-size: 28px;
    }
  }
}

.green-back {
  background: #83BEC3;
  border-radius: 200px 0 0 0;
  text-align: center;
  font-family: 'Roc Grotesk';
  padding-bottom: 100px;
  margin-top: -36px;

  & .main-text {
    opacity: 0;

    & div p {
      margin-top: 40px;
      line-height: 2;
      font-size: 18px;
    }

    & span {
      font-size: 28px;
      font-weight: bold;
    }
  }

  & .lead-text {
    padding-top: 85px;
    opacity: 0;

    & h3 {
      font-size: 30px;
      font-weight: bold;
    }

    & p {
      font-size: 20px;
      margin-top: 20px;
    }
  }

  & img {
    width: 90%;
    max-width: 1140px;
    margin-top: 90px;
    opacity: 0;
  }
}


.blue-title {
  opacity: 0;

  & div h1 {
    color: #009CB1;
    font-family: 'Roc Grotesk';
    font-size: 38px;
    font-weight: bold;
    margin-left: 65px;
    margin-bottom: 65px;
  }
}

#sec03 {
  background: #83BEC3;
}

#sec03 .viseo-title {
  padding-top: 35px;
}

#sec03 .wrap {
  background: #faf6f0;
  border-radius: 0 200px 0 0;
}

#sec03 .img-area {
  text-align: center;
  width: 90%;
  margin: 0 auto 120px;
  opacity: 0;
}

#sec03 .main-text {
  opacity: 0;

  & div h1 {
    font-family: 'Roc Grotesk';
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 160px;
    margin-left: 65px;
    line-height: 2;
  }
}

.support-area .area-div {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 950px;
  margin: 100px auto 180px;
  font-family: 'Roc Grotesk';
  opacity: 0;

  & .support-item {
    width: 30%;
    text-align: center;

    & .name {
      font-size: 30px;
      font-weight: bold;
    }

    & img {
      margin-top: 40px;
      margin-bottom: 30px;
    }

    & p {
      font-size: 20px;
      line-height: 2;
    }
  }
}

.support-card-area {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 130px;
  opacity: 0;

  .support-card {
    background: #A6DEEB;
    width: 19%;
    max-width: 260px;
    height: 330px;
    border-radius: 20px;
    transition: .3s;
    opacity: .65;
    position: relative;
    z-index: 1;

    &:nth-of-type(2) .img-box {
      text-align: center;

      & img {
        width: 85%;
      }
    }

    &:nth-of-type(5) .img-box {

      & img {
        width: 50%;
      }
    }

    & .card-title {
      text-align: center;
      font-family: 'Roc Grotesk';
      font-size: 23px;
      font-weight: normal;
      padding-top: 35px;
      padding-bottom: 35px;
    }

    & .img-box {
      width: 90%;
      margin: 0 auto;
      text-align: left;

      & img {
        width: 100%;
      }

      & .resize {
        width: 110px;
        position: relative;
        left: -30px;
      }
    }

    &:hover {
      transform: scale(1.3);
      transition: .3s;
      opacity: 1;
      z-index: 2;
    }

    &:nth-of-type(1):hover {
      transform-origin: left;
    }

    &:nth-of-type(5):hover {
      transform-origin: right;
    }
  }
}

#sec04 .logo-area {
  background: #F8F8F8;
  padding-top: 150px;
  padding-bottom: 150px;
  border-radius: 200px 200px 0 0;
  transform: translateY(-120px);
  position: relative;
  z-index: -999;
  text-align: center;
}

.logo-wrap {
  background: #F8F8F8;
  padding-top: 150px;
  padding-bottom: 130px;
  border-radius: 200px 200px 0 0;
  position: relative;
  top: -113px;
  z-index: -1;
}

.logo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  gap: 20px 5px;

  & li {
    width: 24%;

    &:nth-of-type(1) {
      animation-delay: 0.2s;
    }

    &:nth-of-type(2) {
      animation-delay: 0.4s;
    }

    &:nth-of-type(3) {
      animation-delay: 0.6s;
    }

    &:nth-of-type(4) {
      animation-delay: 0.8s;
    }

    &:nth-of-type(5) {
      animation-delay: 1s;
    }

    &:nth-of-type(6) {
      animation-delay: 1.2s;
    }

    &:nth-of-type(7) {
      animation-delay: 1.4s;
    }

    &:nth-of-type(8) {
      animation-delay: 1.6s;
    }

    &:nth-of-type(9) {
      animation-delay: 1.8s;
    }

    &:nth-of-type(10) {
      animation-delay: 2s;
    }

    &:nth-of-type(11) {
      animation-delay: 2.2s;
    }

    &:nth-of-type(12) {
      animation-delay: 2.4s;
    }
  }

  & li img {
    width: 100%;
    height: 113px;
  }
}

#sec05 {
  background: #F8F8F8;
  margin-top: -150px;

  & .contact-content {
    background: #83BEC3;
    border-radius: 200px 200px 0 0;

    & .contact-area {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      margin: 0 auto;
      padding-top: 40px;

      & img {
        width: 50%;
        max-width: 450px;
      }

      & .contact-text {
        width: 50%;
        text-align: center;

        & h2 {
          font-family: 'Roc Grotesk';
          margin-bottom: 55px;
          font-size: 28px;
          font-weight: bold;
          color: #fff;
        }

        & a {
          font-family: 'Roc Grotesk';
          font-size: 14px;
          font-weight: bold;
          color: #fff;
          position: relative;
          left: -12px;
          padding-right: 30px;

          &::after {
            content: '';
            background-image: url(../../public/images/arrow-btn.svg);
            background-repeat: no-repeat;
            background-position: center;
            height: 37px;
            width: 37px;
            position: absolute;
            transform: translate(30px, -50%);
            transform-origin: top;
            top: 50%;
          }
        }
      }
    }

    & .contact-btn-area {
      display: flex;
      margin: 0 auto;
      justify-content: center;
      margin: 0 auto;
      background: linear-gradient(0deg, #272727 0%, #272727 50%, #83BEC3 50%, #83BEC3 100%);

      & .contact-btn {
        max-width: 478px;
        width: 38vw;
        background: #009CB1;
        border: 1px solid #009CB1;
        border-radius: 30px;
        transition: .3s;

        &:last-child {
          margin-left: 40px;
        }

        &:hover {
          background: #fff;
          transition: .3s;

          & a {
            color: #009CB1;
            transition: .3s;

            &::after {
              filter: invert(51%) sepia(63%) saturate(6598%) hue-rotate(163deg) brightness(100%) contrast(101%);
              transition: .3s;
            }
          }
        }
      }

      & a {
        display: block;
        padding: 93px 0 93px 100px;
        color: #fff;
        font-family: 'Roc Grotesk';
        font-size: 27px;
        font-weight: bold;
        position: relative;
        transition: .3s;

        &::after {
          content: '';
          background-image: url(../../public/images/arrow-btn.svg);
          background-repeat: no-repeat;
          background-position: center;
          height: 37px;
          width: 37px;
          position: absolute;
          transform: translate(70px, -50%);
          transform-origin: top;
          top: 50%;
          transition: .3s;
        }
      }
    }
  }
}

@include respond-below(sm) {
  .pc {
    display: none !important;
  }

  .sp {
    display: block !important;
  }

  /*----------< section contents >----------*/
  .fv-area {
    position: relative;
    z-index: 0;
    height: 846px;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
  }

  .fv-area img {
    width: 100%;
    height: 100%;
    position: fixed;
    object-fit: cover;
    z-index: 0;
  }

  .fv-area p div h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 2;
  }

  .sec-content:nth-of-type(1) {
    position: relative;
    z-index: 1;
    background: #FAF6F0;
    padding-top: 170px;
    border-radius: 120px 120px 0 0;
    padding-bottom: 120px;
  }

  .sec-content:nth-of-type(2),
  .sec-content:nth-of-type(4) {
    background: #FAF6F0;
  }

  .sp-wrapper {
    padding: 0 20px;
    margin: 0 auto;
  }

  .viseo-title .eng-title {
    font-size: 46px;
    text-align: center;
    margin-left: 0;
    height: auto;
    transform: translateY(-5px);

    & div {
      justify-content: center;
    }
  }

  .viseo-title .right-title {
    text-align: right;
    font-size: 66px;
  }

  .viseo-title .jp-title div h1 {
    font-size: 26px;
    margin-left: 0;
    transform: translate(20px, 45px);
  }

  .sub-title {
    margin-top: 55px;
    margin-left: 0;
    margin-bottom: 50px;
  }

  .sub-title div h3 {
    font-size: 20px;
    text-align: center;
    line-height: 2;
  }

  .sub-title div h3 strong {
    font-size: 26px;
  }

  .big-subtitle {
    font-size: 26px;
    line-height: 3;
  }

  .desc-text div p {
    font-size: 18px;
    text-align: center;
    margin-left: 0;

    & strong {
      font-size: 18px;
    }
  }

  .card-area {
    justify-content: center;
    width: 100%;
    margin: 0 auto 100px;
    flex-wrap: wrap;
    gap: 3%;
  }

  .card-area .view-wrap {
    display: contents;
  }

  .card-area .view-wrap .card-item {
    width: 48%;
  }

  .card-area .view-wrap .card-item:nth-of-type(1) {
    position: relative;
    transform: none;
    top: 0;
  }

  .card-area .view-wrap .card-item:nth-of-type(2) {
    position: relative;
    transform: none;
    top: 0;
  }

  .card-area .view-wrap .card-item:nth-of-type(3) {
    position: relative;
    transform: none;
    top: 0;
    margin-top: 3%;
  }

  .card-area .view-wrap .card-item .card-top img {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 50%;
    max-width: 65px;
  }

  .card-area .view-wrap .card-item .card-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .card-area .view-wrap .card-item .card-bottom p {
    font-size: 14px;
    font-weight: normal;
  }

  .world-work {
    display: block;
  }

  .world-work .map {
    margin-bottom: 75px;
    width: 100%;
  }

  .world-work .map img {
    width: 100%;
  }

  .world-work .work-text {
    width: 100%;

    & strong {
      font-size: 18px;
    }
  }


  .world-work .work-text p {
    font-size: 18px;
    line-height: 2;
    text-align: center;
  }

  .green-back {
    border-radius: 120px 0 0 0;
    margin-top: -17px;
  }

  .green-wrap {
    padding: 0 20px;
    margin: 0 auto;
    opacity: 0;
  }

  .green-back .lead-text {
    padding: 100px 20px 0;
    opacity: 0;
  }

  .green-back .lead-text h3 strong {
    font-size: 20px;
    line-height: 2;
  }

  .green-back .lead-text p {
    font-size: 18px;
    margin-top: 40px;
  }

  .green-back .main-text {
    opacity: 0;
  }

  .green-back .main-text div p {
    margin-top: 40px;
    padding: 0 20px;
    font-size: 14px;
    opacity: 1;
  }

  .green-back .main-text span {
    font-size: 18px;
  }

  .green-back img {
    width: 100%;
    margin-top: 60px;
  }

  #sec03 .wrap {
    border-radius: 0 120px 0 0;
  }

  .blue-title div h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 65px;
    margin-left: 0;
    line-height: 2;
  }

  .blue-title:nth-of-type(2) h3 {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .blue-title:nth-of-type(3) h3 {
    margin-top: 120px;
    margin-bottom: 40px;
  }

  .service-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .service-container:nth-of-type(2n) {
    flex-direction: row-reverse;
  }

  .service-container p {
    font-size: 16px;
  }

  .support-container {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  .support-container img {
    width: 30%;
    max-width: 70px;
    max-height: 70px;
    margin-right: 5%;
  }

  .support-container h3 {
    font-size: 18px;
    font-weight: bold;
  }

  .support-container p {
    font-size: 14px;
    font-weight: normal;
  }

  #sec03 .main-text div h1 {
    text-align: center;
    font-size: 14px;
    width: 90%;
    margin: 0 auto 60px;
  }

  .support-card-area {
    margin-top: 60px;
    padding-bottom: 130px;
    opacity: 1;
    margin-bottom: 0;
  }

  .support-card-area .support-card {
    width: 100%;
    max-width: 230px;
    height: 290px;
    margin: 0 auto;
    opacity: 1;

    &:hover {
      transform: scale(1);
    }
  }

  .support-card-area .support-card .card-title {
    font-size: 19px;
    padding-top: 25px;
    margin-bottom: 40px;
    padding-bottom: 0;
  }

  .support-card-area .support-card .img-box {
    text-align: center;

    & img {
      width: auto;
    }

    & .resize {
      width: 79px;
      position: relative;
      left: -40px;
    }
  }

  /*------- sec3 service2 -------*/
  .support-area .area-div {
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 95px;

    & .support-item {
      width: 100%;
      margin-bottom: 25px;

      & p {
        font-size: 14px;
      }

      & img {
        height: 68px;
        margin: 0;
      }

      & .sp-container {
        display: flex !important;
        align-items: center;
        text-align: left;

        & .text-container {
          margin-left: 18px;

          & .title {
            font-size: 18px;
            font-weight: bold;
          }
        }
      }
    }
  }

  /*-----------------------------*/

  .swiper-slide-next {
    opacity: 0.5;
    position: relative;
    left: -60px;
    transform: scale(.8) !important;
  }

  .swiper-slide-prev {
    opacity: 0.5;
    position: relative;
    right: -60px;
    transform: scale(.8) !important;
  }

  .logo-wrap {
    padding-top: 120px;
    border-radius: 120px 120px 0 0;
    top: -95px;
  }

  .logo-list {
    padding: 0 20px;
    gap: 2px;
  }

  .logo-list li {
    width: 49%;

    & img {
      height: 79px;
    }
  }

  .logo-list img {
    width: 50%;
    height: 80px;
  }

  #sec05 {
    & .contact-content {
      border-radius: 120px 120px 0 0;
      padding-top: 80px;

      & .contact-area {
        flex-direction: column-reverse;

        & .contact-text {
          margin-left: 0;
          text-align: center;
          width: 100%;

          & h2 {
            font-size: 26px;
            margin-bottom: 30px;
          }

          & a {
            padding-right: 0;
            font-size: 20px;
            left: -4vh;
          }
        }

        & img {
          margin-top: 30px;
          width: 80%;
        }
      }

      & .contact-btn-area {
        display: block;
        margin: 0 auto;
        background: linear-gradient(0deg, #272727 0%, #272727 80%, #83BEC3 80%, #83BEC3 100%);

        & .contact-btn {
          width: 90%;
          margin: 0 auto;
          max-width: none;
          position: relative;
          border-radius: 50px;

          &:first-child {
            margin-bottom: 40px;
          }

          &:last-child {
            margin: 0 auto;
          }

          &::after {
            content: '';
            background-image: url(../../public/images/arrow-btn.svg);
            background-repeat: no-repeat;
            background-position: center;
            height: 37px;
            width: 37px;
            position: absolute;
            transform: translate(30px, -50%);
            transform-origin: top;
            top: 50%;
            right: 60px;
          }
        }

        & a {
          padding-top: 25px;
          padding-bottom: 25px;
          padding-left: 0;
          text-align: center;

          &::after {
            display: none;
          }
        }
      }
    }
  }

  .service-img {
    opacity: 0;
  }

  .support-img {
    opacity: 0;
  }

  #sec01,
  #sec02,
  #sec03,
  #sec04,
  #sec05 {
    position: relative;
    z-index: 1;
  }
}

@keyframes updown-anim {
  0% {
    transform: translateY(110%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadeup-anim {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeup-Jp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(-60px);
  }
}

@keyframes fadeleft-anim {
  from {
    opacity: 0;
    transform: translateX(-600px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes faderight-anim {
  from {
    opacity: 0;
    transform: translateX(600px);
  }

  to {
    opacity: 1;
    transition: 1;
    transform: translateX(0);
  }
}